.formu{
    width: 100%;
    height: 472px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}
#cuadro{
    margin-top: 25px;
    width: 100%;
}
.opciones a{
    text-decoration: none;
}
.pagina{
    position: absolute;
    width: 900px;
    height: 350px;
    margin-left: 15%;
    top: 110px;
}
.opciones{
    font-size: 20px;
}
.lista{
    position: absolute;
    background-color: black;
    color: white;
    width: 130px;
    height: 350px;
}
.encabezado{
    border:  gray 2px solid;
    border-radius: 8px;
    font-family: arial black;
    background-color:white;
    color: blue;
    text-align:center;
    margin-left: 15%;
    font-size: 20px;
}
.mostrar{
    text-align:center;
    border:  gray 4px solid;
    border-radius: 8px;
    background-color:white;
    margin-left:15%;
    height: 315px;
}